* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --text-color: #0F172A;
  /* Estrategia para manter o layoult flexível */
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  /* rem é uma unidade de medida relativa ao font-size acima */
  /* Se o valor do font-size aumentar todos que estão em rem irão aumentar, caso diminua todos que estão em rem irão diminuir */
  font-size: 1.6rem;
  background: #f8fafc;

  /* Pega toda a altura visível */
  height: 100vh;
  display: grid;
  place-content: center;
  color: var(--text-color)
}

main{
  /* 80 rem equivale a 80.0rem, basta dividir qualquer valor em pixel por 10 */
  width: 80rem; 
  height: 69.2rem;
  padding: 6.4rem 8rem;
  background: #FFFFFF;
  box-shadow: 0rem 0.4rem 3.2rem rgba(15,23,42,0.15);
  border-radius: 1.6rem;
  display: grid;
  gap: 6.4rem;
}

section h2{
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.conversor .wrapper{
  margin-top: 1.6rem;
  display:flex;
  /* Gap- espaço entre os filhos */
  gap: 1.6rem;
}

.money-wrapper{
  background-color: white;
  outline:.1rem solid #94a3b8;

  width: 27rem;
  padding:1.6rem;
  border-radius: .8rem;
}

.cambio .wrapper{
  margin-top:2.4rem;
  width: 59.2rem;
  height: 35.6rem;

  border:.4rem solid red;
}

